
<h2> Agregar Productos </h2>

<form action="http://localhost:8080/products" method="post" enctype="application/x-www-form-urlencoded">

<input type="text" name="name" placeholder="nombre del producto">
<input type="text" name="description" placeholder="descripcion del producto">
<input type="text" name="price" placeholder="precio">
<input type="text" name="stock" placeholder="stock">
<input type="text" name="code" placeholder="codigo">
<input type="text" name="thumbnail" placeholder="URL de la imagen">

<button type="submit"> Agregar Producto </button>

</form>